.order-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .order-header {
    margin: 0;
  }
  .order-cost-header {
    margin: 0;
    margin-bottom: 10px;
    color: green;
  }

  #userdata-form {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: 1px solid #f3f3f3;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-right: 6px;
    padding-bottom: 19px;

    label {
      margin-bottom: 3px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 9px;
      color: #000000;
    }

    input {
      width: 211px;
      height: 22px;
      padding-top: 5px;
      padding-left: 10px;
      padding-bottom: 5px;
      margin-bottom: 10px;
      background: #ffffff;
      border: 1px solid #d8d8d8;
      box-sizing: border-box;
      border-radius: 5px;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;

      &:invalid {
        border-color: #d91313;
      }

      &:valid {
        border-color: green;
      }
    }

    .message-paragraph {
      height: 10px;
    }

    .buttons-container {
      display: flex;

      #formsubmit-button {
        width: 120px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: green;
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
        outline: none;
        cursor: pointer;

        span {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #ffffff;
        }
      }

      #return-button {
        width: 80px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        margin-right: 10px;
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
        outline: none;
        cursor: pointer;

        span {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #ffffff;
        }
      }
    }
  }

  .message-paragraph-confirmed {
    height: 10px;
    color: green;
  }
}
