.cart__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cart {
    min-width: 320px;
    height: 650px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    padding-top: 60px;
    padding-bottom: 140px;
    box-sizing: border-box;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    overflow-y: scroll;

    .cost-total-span {
      position: fixed;
      right: 5px;
      bottom: 5px;
      background-color: rgba($color: white, $alpha: 0.7);
    }

    .buttons-container {
      width: calc(100% - 16px);
      height: 35px;
      position: absolute;
      top: 5px;
      left: 5px;
      display: flex;

      .back-button {
        width: 120px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 60px;
        box-sizing: border-box;
        border-width: 21px;
        border-radius: 5px;
        border-style: solid;
        border-color: black;
        color: gray;
        font-weight: bolder;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
      }

      .next-button {
        width: 120px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-width: 21px;
        border-radius: 5px;
        border-style: solid;
        border-color: black;
        color: gray;
        font-weight: bolder;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
      }
    }
  }
}
